CORS_ORIGINS=["leaphyeasybloqs.com", "localhost"]
cors_origin_regex="https://.*\.leaphyeasybloqs\.com"
# Warning! This will get wiped!
platformio_data_dir=/path/to/your/project
threads_per_platformio_compile=1
mistral_api_key=dljfdkljf
groq_api_key=gsk_blablabla
