fastapi==0.128.0
aiofiles==25.1.0
uvicorn==0.34.3
pydantic==2.12.5
pydantic-settings==2.10.1
cachetools==7.0.0
python-minifier==3.0.0
pyserial==3.5
groq==0.33.0
httpx==0.28.1
platformio==6.1.18
python-multipart==0.0.22
jax==0.8.2
tensorflow==2.19.0
tensorflowjs==4.22.0
langchain==1.2.3
langchain-mistralai==1.1.1
fastapi-mail==1.6.1
