fastapi==0.119.1
aiofiles==24.1.0
uvicorn==0.34.3
pydantic==2.11.7
pydantic-settings==2.10.1
cachetools==6.2.0
python-minifier==3.0.0
pyserial==3.5
groq==0.31.0
httpx==0.28.1
platformio==6.1.18
python-multipart==0.0.20
jax==0.7.0
tensorflow==2.19.0
tensorflowjs==4.22.0
